<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <input class="uk-input uk-margin-top" type="text" name="name" placeholder="ton blase ici" required ngModel>
  <input class="uk-input uk-margin-top" type="text" name="content" placeholder="ça dit quoi ?" required ngModel>
  <button type="submit" class="uk-button primary uk-margin-top" [disabled]="f.invalid">Send</button>
</form>
