<div class="window">
  <ul class="uk-list">
    <app-message [name] ="message.name"
                 [content] ="message.content"
                 [id]="message.id"
                 *ngFor = "let message of messages; let index = index"></app-message>
  </ul>
</div>
